<% if(success && success.length) {%>
<div class="flash flash-success">
    <a href="#" class="close"></a>
    <%= success %>
</div>
<% } %>

<% if(error && error.length) {%>
<div class="flash flash-error">
    <%= error %>
</div>
<% } %>