<nav id="navbar">
    <a class="nav-link nav-logo" href="/"><img src="/img/logo.png" alt=""></a>
    <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="/explore">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <% if(!currentUser) {%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link signin" href="register">Register</a>
          </li>
        <% } else {%>
          <li class="nav-item">
            <a class="nav-link" href="/account/dashboard"><%= currentUser.username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %> 
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
</nav>