<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playable</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/starability-basic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
</head>
<body>
    <%- include('../partials/navbar')%>
    <%- include('../partials/flash')%>
    <%- body %>

    <script src="/javascripts/nav.js"></script>
    <script>
        document.querySelector('.flash').addEventListener('click', function(){
            this.remove();
        })
    </script>
</body>
</html>