<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG Library</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/starability-basic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <%- include('../partials/navbar')%>
    <%- include('../partials/flash')%>
    <%- body %>

    <script src="/javascripts/nav.js"></script>
</body>
</html>