<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My account</title>
    <link rel="stylesheet" href="/stylesheets/account.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/starability-basic.min.css">
</head>
<body>
    <%- include('../partials/navbar')%>
    <div class="wrapper">
        <div class="navigation">
            <a id="nav-dashboard" href="/account/dashboard">Dashboard <span>/</span></a>
            <a id="nav-favorites" href="/account/games">My favorites <span>/</span></a>
            <a id="nav-reviews" href="/account/myreviews">Reviews <span>/</span></a>
            <a id="nav-settings" href="/account/settings">Account settings</a>
        </div>
        <div class="content">
            <%- body %>
        </div>
    </div>
    <script src="/javascripts/nav.js"></script>
</body>
</html>