<%- layout('/layouts/boilerplate')%>
<div id="error">
    <h1><%=err.message%></h1>
    <% if (process.env.NODE_ENV !== "production") { %>
    <p><%= err.stack %></p>
    <% } else { %>
        <img src="/img/cil_sad.png" alt="">
    <% } %> 
</div>