<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/results.css">
</head>
<body>
    <div class="wrapper">
        <%- include('./partials/navbar')%>
        <div class="content">
            <div class="results-header">
                <form action="/games" method="POST">
                    <input type="text" name="name" id="name">
                    <span class="search-icon"><img src="/img/search.png" alt=""></span>
                </form>
                <h1>Results</h1>
            </div>
            <div class="row">
                <% for (let game of games.results) { %>
                <div class="col-lg-4">
                    <div class="card">
                        <a href="/games/28958">
                            <img src="<%= game.background_image %>" class="card-img-top" alt="...">
                        </a>
                            <div class="card-body">
                            <h5 class="card-title"><%= game.name %></h5>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, deleniti iusto ducimus vitae.</p>
                            </div>
                    </div>
                </div> 
                <% } %> 
        </div>
        </div>
    </div>
</body>
</html>



