<% layout('layouts/boilerplate')%>
    <h1 class="text-center mb-3">Results</h1>
    <div class="row justify-content-center">
            <% for (let game of games.results) { %>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <img src="<%= game.background_image %>" class="card-img-top mh-100" alt="..." style="object-fit: cover;" width="600" height="300">
                    <div class="card-body">
                      <h5 class="card-title"><%= game.name %></h5>
                      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, deleniti iusto ducimus vitae, unde sint, odio distinctio delectus repellat eveniet repellendus. Dolorem ullam ipsum at. Vero sint numquam ad earum.</p>
                      <p class="card-text"><small class="text-muted">Lorem ipsum dolor</small></p>
                    </div>
                </div>
            </div> 
            <% } %> 
    </div>
