<%- layout('./layouts/useraccount')%>
<section class="favorites">
  <h1 class="content-heading">My favorites</h1>
  <div class="fav-row">
      <% for (let game of games) { %>
          <div id="game">
              <img id="game-cover" src="<%= game.background_image %> " alt="">
              <p><%= game.name %></p>
              <p><%= game.released %> </p>
          </div>
      <% } %>
    </div>  
</section>
