<%- layout('./layouts/useraccount')%>
<section class="favorites">
  <h1 class="content-heading">My favorites</h1>
  <div class="fav-row">
      <% for (let game of games) { %>
          <div class="game">
              <img class="game-cover" src="<%= game.background_image %> " alt="">
              <p class="game-name"><%= game.name %></p>
              <p class="game-year"><%= game.released %> </p>
          </div>
      <% } %>
    </div>  
</section>
