<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
</head>
<body>
    <%- include('../partials/flash')%>
    <div class="wrapper">
        <div class="info-wrapper">
            <div class="info">
                <p class="info-1">Perfect gaming platform doesn't exis-</p>
                <p class="info-2">Join Playable and find your favorite games here.</p>
                <p class="info-3">Sign up</p>
                <p class="info-4">Find your favorite games.</p>
                <p class="info-5">Review games, create lists and share them with your friends</p>
            </div>
        </div>
        <div class="signin-wrapper">
            <div class="signin">
                <h1 class="signin-header">Sign Up</h1>
                <form action="/register" method="POST">
                    <div class="form-element">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Your username" required autofocus>
                    </div>
                    <div class="form-element">
                        <label for="email">Email address</label>
                        <input type="email" id="email" name="email" placeholder="name@domain.com" required>
                    </div>
                    <div class="form-element">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Min 8 characters, 1 number, 1 uppercase letter" required>
                    </div>
                    <button class="create-account">Create account</button>
                </form>
                <a href="/login">I already have an account</a>
            </div>
        </div>
    </div>
</body>
</html>