@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}

body {
    color: black;
    padding: 0;
    margin: 0;
    background-color: #1A1A2D;
    font-family: Roboto;
}

/* TOP NAVBAR */
nav {
    margin: auto;
    width: 759px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    color: white;
    margin-top: 1px;
}

.nav-login {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 104px;
    text-align: center;
}

.nav-register {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 104px;
    text-align: center;
}

.nav-logo {
    margin: 0;
}

.nav-logo > img {
    width: 131px;
}
/*///////////////*/

.wrapper {
    display: flex;
    width: 1220px;
    height: 585px;
    box-sizing: border-box;
    margin: 164px auto 0 auto;
    overflow: hidden;
}

.navigation {
    background: #212137;
    width: 191px;
    height: 585px;
}

.navigation > a {
    margin-top: 36px;
    margin-left: 27px;
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 120.2%;
    color: #A8A6C6;
}

.content {
    color: white;
    padding: 20px;
    display: flex;
    width: 1029px;
    background: #272740;
}

.content-heading {
    font-size: 24px;
    color: #32CDB1;
}

/* START OF DASHBOARD CSS*/
#dashboard {
    width: 538px;
    height: 550px;
    border-right: 4px solid #50E3C2;
}

#user-info-wrapper {
    margin-top: 27px;
    margin-left: 48px;
    padding: 45px 20px 20px 20px;
    width: 442px;
    height: 408px;
    background: #35354F;
}

#user-info-wrapper > div:nth-of-type(1) {
    display: flex;
    width: 394px;
}

#user-info-wrapper > div:nth-of-type(1) > img {
    margin-right: 20px;
    object-fit: cover;
    border-radius: 50%;
    width: 184px;
    height: 184px;
}

#user-info-wrapper > div:nth-of-type(1) > div > h2 {
    font-size: 24px;
    line-height: 120.2%;
    color: #8B8BE3;
}

#user-info-wrapper > div:nth-of-type(1) > div > p {
    width: 190px;
    font-size: 18px;
    line-height: 120.2%;
}

#user-info-wrapper > div:nth-of-type(2) {
    padding-top: 50px;
    padding-left: 28px;
}

.counter {
    margin-bottom: 18px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    max-width: 204px;
    height: 36px;
    background: #4C4C74;    
    font-weight: bold;
    font-size: 18px;
    line-height: 120.2%;
}

.counter * {
    padding: 0px 5px;
}

#activity-wrapper {
    width: 491px;
    height: 585px;
}

#activity-wrapper > h1 {
    margin-left: 24px;
}

#activity {
    margin: 16px auto 0 auto;
    width: 423px;
    height: 63px;
    background: #3B3B5F;
    display: flex;
}

#activity > h1 {
    padding-left: 22px;
}

#activity > div {
    width: 93px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#activity > div > img {
    width: 62px;
    border-radius: 5px;
}

#activity > p:nth-of-type(1) {
    padding-top: 20px;
    font-size: 18px;
    line-height: 120.2%;
    text-decoration: none;
}

#activity > p:nth-of-type(1) > a {
    text-decoration: none;
    color: #32CDB1;
}

#date {
    position: relative;
    left: 40px;
    top: 5px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 120.2%;
    color: #32CDB1;
    
}

/* START OF FAVORITE GAMES CSS */
.favorites {
    width: 1029px;
}

.fav-row {
    display: flex;
    width: 934px;
    margin-top: 14px;
}

#game {
    overflow: hidden;
    background: #3B3B5F;
    width: 223px;
    height: 240px;
}

#game-cover {
    object-fit: cover;
    width: 223px;
    height: 177px;
}

#game > p:nth-of-type(1) {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 120.2%;
    color: #32CDB1;
}

#game > p:nth-of-type(2) {
    text-align: center;
    font-size: 14px;
    line-height: 120.2%;
    color: #A2A2CF;
}
/* START OF MY REVIEWS CSS*/
#reviews {
    overflow: scroll;
    overflow-x: hidden;
    width: 1029px;
}

.recent-review {
    margin-top: 24px;
    color: white;
    width: 872px;
    background: #FFFFFF;
    border: 1px solid #474787;
    box-sizing: border-box;
}

.review-header {
    display: flex;
    padding: 15px;
    width: 100%;
    background: #353562;
}

.review-header > .pic-column > img {
    width: 107px;
    height: 57px;
}

.review-header > .row-1 {
    width: 100%;
    margin-left: 24px;
}

.review-header > .row-1 > .row-2 {
    display: flex;
    justify-content: space-between;
}

.review-header > .row-1 > .row-2 > .column-1 {
    display: flex;
    height: 28px;
}

.review-header > .row-1 > .row-2 > .column-1 > .starability-result {
    margin-top: -5px;
}

.row-2 > .review-time {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}

.row-1 > .review-title {
    font-weight: bold;
    font-size: 18px;
}

.review-game-name {
    font-size: 18px;
    line-height: 120.2%;
    color: #FFFFFF;
}

.review-game-name > span {
    margin-right: 11px;
    font-size: 18px;
    color: #32CDB1;
}

.recent-review > .review {
    background: #1E1E33;
    width: 100%;
    padding: 15px 15px 25px 15px;
}

.recent-review-body {
    white-space: pre-line;
}

.recent-review-body > span > a {
    font-weight: bold;
    font-size: 14px;
    color: #32CDB1;
    text-decoration: none;
}

.review-verdict-yes {
    display: inline;
    padding: 11px;
    width: 219px;
    height: 51px;
    background: #32CDB1;
    color: black;
    border: 1px solid #000000;
    font-weight: 500;
    font-size: 14px;
}

.review-verdict-no {
    display: inline;
    width: 257px;
    height: 51px;
    background: #FF5A79;
    color: black;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    padding: 11px;
}

.thumbs-up, .thumbs-down {
    width: 17px;
    height: 17px;
}


/* START OF ACCOUNT SETTINGS CSS */
#image-settings {
    width: 514px;
    height: 550px;
    border-right: 4px solid #50E3C2;
}

#image-settings > h1 {
    display: inline;
    font-size: 24px;
    line-height: 120.2%;
    color: #32CDB1;
    padding-right: 23px;
}

#image-settings > h2 {
    display: inline;
    font-weight: bold;
    font-size: 18px;
    line-height: 120.2%;
}

#image-settings > form {
    margin-top: 64px;
    margin-left: 116px;
    width: 247px;
    height: 247px;
}

#image-settings > form > input {
    display: none;
}

#image-settings > form > label > img {
    object-fit: cover;
    border-radius: 50%;
    width: 247px;
    height: 247px;
    filter: drop-shadow(-2px 2px 7px rgba(0, 0, 0, 0.25));
}

#image-settings > form > label > span {
    display: block;
    position: relative;
    bottom: 135px;
    width: 247px;
    height: 22px;
    font-size: 18px;
    line-height: 120.2%;
    text-align: center;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.53);
    }

#image-settings > form > button {
    margin: auto;
}

.confirm-changes {
    display: block;
    width: 181px;
    height: 40px;
    background: #32CDB1;
    border: 1px solid #32CDB1;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 18px;
    line-height: 120.2%;
}

#password-settings {
    padding-left: 55px;
    width: 515px;
    height: 585px;
}

#password-settings > h2 {
    margin-top: 6px;
    margin-bottom: 78px;
    font-weight: bold;
    font-size: 18px;
    line-height: 120.2%;
}

#password-form > label {
    display: block;
    margin-top: 31px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 120.2%;
}

#password-form > input {
    color: white;
    padding-left: 7px;
    width: 337px;
    height: 40px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid #B7B2B2;
    box-sizing: border-box;
    border-radius: 10px;
}

#password-form > .confirm-changes {
    margin-top: 31px;
}