@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: #151528;
    font-family: Lato, Roboto, sans;
}

a {
    text-decoration: none;
}

/*    TOP NAVBAR    */
#navbar {
    background: rgba(26, 26, 45, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    position: fixed;
    right: 20px;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-left: 5rem;
}

.nav-link {
    color: white;
}

.signin {
    width: 104px;
    text-align: center;
}

.nav-logo {
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.nav-logo > img {
    width: 29px;
}

/*    START OF HOME CSS    */
.home-wrapper {
    margin: auto;
    width: 80vw;
    height: 243px;
}

.welcome {
    margin: 308px auto 0 auto;
    width: 604px;
}

.welcome-text {
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 120.2%;
    text-align: center;
    margin-bottom: 31px
}

.explore {
    display: block;
    margin-top: 49px;
}

.home-link {
    color: black;
    margin: auto;
    background: #33D9B2;
    box-sizing: border-box;
    box-shadow: 0px 1px 15px 1px rgba(219, 187, 187, 0.05);
    width: 372px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 120.2%;
}

.home-link:hover {
    color: white;
    background: #474787;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 15px 4px rgba(219, 187, 187, 0.5);
    transition: 0.2s;
}

.explore > a {
    color: #000000;
}

.welcome h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.2%;
    text-align: center;
}

/*    START OF EXPLORE CSS    */
#explore-wrapper {
    margin: 213px auto 0 auto;
    width: 720px;
    padding-bottom: 20px;
}

#explore-wrapper > h1 {
    margin: auto;
    width: 604px;
    font-size: 36px;
    line-height: 120.2%;
}

#explore-wrapper > form {
    margin-top: 53px;
    text-align: center;
}

#explore-wrapper > form > input {
    width: 66%;
    height: 31px;
    border: 2px solid #474787;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
}

.explore-icon {
    width: 18px;
    display: block;
    color:black;
    position: relative;
    left: 19%;
    bottom: 25px;
}

#popular-games {
    margin-top: 140px;
}

#popular-games h1 {
    font-size: 36px;
    line-height: 120.2%;
}

.favoritesrow {
    display: flex;
    margin: auto;
}

/*    START OF RESULTS CSS     */
#results-wrapper {
    margin: auto;
    width: 922px;
}

#results-wrapper > div {
    margin-top: 91px;
}

#results-search {
    display: flex;
    margin-bottom: 91px;
}

#results-search > h1 {
    text-align: center;
}

#results-search > form {
    width: 401px;
}

#results-search > form > input {
    height: 31px;
    width: 200px;
    border: 2px solid #474787;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 35px;
}

#results-search > form > span {
    width: 18px;
    display: block;
    color:black;
    position: relative;
    left: 10px;
    bottom: 24px;
}

#results-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 960px;
}

.game-card {
    overflow: hidden;
    width: 286px;
    box-sizing: border-box;
    margin-bottom: 32px;
    background: #3B3B5F;
}

.game-card > div {
    padding: 15px;
}

.game-card > a > img {
    object-fit: cover;
    width: 100%;
    height: 159px;
}

.game-card > div > h2 {
    color: #32CDB1;
    font-size: 18px;
    line-height: 120.2%;
}

.game-card > div > p {
    margin-top: 6px;
    color: #A2A2CF;
    font-size: 14px;
    line-height: 120.2%;
}

/* START OF COMMUNITY CSS */
#community-wrapper {
    margin: 213px auto 0 auto;
    padding-bottom: 20px;
    width: 922px;
}

.section-title {
    display: inline;
    padding-right: 36px;
    font-size: 18px;
    line-height: 120.2%;
    cursor: pointer;
}

.section-title.active {
    font-weight: bold;
    font-size: 24px;
    color: #32CDB1;
    transition: 0.2s;
}

.recent-review {
    margin-top: 38px;
    color: white;
    width: 872px;
    background: #1E1E33;
    box-sizing: border-box;
}

#review-top {
    display: flex;
    padding: 15px;
    background-color: rgba(64, 64, 81, 0.26);
}

#review-top img {
    width: 107px;
    height: 57px;
    margin-right: 24px;
}

#review-top > .top-col {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#name-rating {
    display: flex;
    height: 28px;
}

#name-rating p:nth-of-type(1) {
    font-size: 18px;
    line-height: 120.2%;
    color: #FFFFFF;
}

#name-rating p:nth-of-type(1) span {
    margin-right: 11px;
    font-size: 18px;
    color: #32CDB1;
}

#name-rating .starability-result {
    margin-top: -5px;
}

.review-time {
    position: absolute;
    right: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}

.review-title {
    word-wrap: anywhere;
    font-weight: bold;
    font-size: 18px;
}

.review-title span {
    padding-left: 11px;
    font-style: italic;
    font-weight: 300;
    color: #32CDB1;
}

#review-lower {
    background: #1E1E33;
    padding: 15px;
}

#review-lower p {
    word-wrap: anywhere;
    white-space: normal;
    margin-bottom: 10px;
}

#review-lower p span a {
    font-weight: bold;
    font-size: 14px;
    color: #32CDB1;
}

.screenshot-row {
    margin-bottom: 12px;
}

.screenshot-row > a > img {
    object-fit: cover;
    width: 135px;
    height: 76px;
}

.review-verdict-yes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    background: #32CDB1;
    color: black;
    border: 1px solid #000000;
    font-weight: 500;
    font-size: 14px;
    padding: 11px 10px;
}

.review-verdict-no {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 168px;
    background: #FF5A79;
    color: black;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    padding: 11px 10px;
}

.thumbs-up, .thumbs-down {
    width: 17px;
    height: 17px;
}

#community-wrapper > .favoritesrow {
    flex-wrap: wrap;
    margin-top: 38px;
    display: none;
    width: 100%;
}

.game {
    margin-top: 38px;
    margin-right: 20px;
    overflow: hidden;
    background: #3B3B5F;
    width: 223px;
    min-height: 264px;
}

.game img {
    object-fit: cover;
    width: 223px;
    height: 177px;
}

.game p:nth-of-type(1) {
    color: #32CDB1;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 120.2%;
}

.game p:nth-of-type(2) {
    text-align: center;
    font-size: 14px;
    line-height: 120.2%;
    color: #A2A2CF;
}

#mostactive {
    display: none;
    padding-top: 55px;
}

.usercard {
    margin-right: 55px;
    width: 244px;
    height: 310px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px -1px #32CDB1;
}

.usercard > img {
    width: 244px;
    height: 161px;
    object-fit: cover;
}

.card-info {
    padding: 12px;
}

.card-info > p:nth-of-type(1) {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 24px;
    line-height: 120.2%;
    color: #32CDB1;
}

.card-info > p:nth-of-type(2) {
    margin-bottom: 7px;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 120.2%;
    color: #000000;
}

.counters {
    display: flex;
    justify-content: space-between;
    width: 143px;
}

.times-favorited, .times-reviewed {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 67px;
    height: 36px;
    background: #000000;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 120.2%;
}

/*   START OF GAME PAGE CSS   */
#game-wrapper {
    width: 100%;
    padding: 35px 0 200px;
    background-size: cover;
    background-position: center;
}

#info-wrapper {
    margin: 319px auto 0 auto;
    padding-top: 80px;
    width: 1020px;
}

.game-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 120.2%;
    margin-bottom: 42px;
}

.game-rating {
    font-size: 24px;
    margin-bottom: 29px;
}

.game-description {
    white-space: pre-line;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 21px;
}

.game-info {
    font-weight: bold;
    font-size: 18px;
    line-height: 120.2%;
    margin-right: 56px;
}

.game-info > span {
    font-weight: normal;
    font-style: italic;
}

.game-genre, .game-platform, .game-link > div {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 10px;
    background: #2A2A46;
    border-radius: 6px;
    font-size: 18px;
}

.game-link {
    color: white;
}

.row {
    flex-wrap: wrap;
    display: flex;
    width: 900px;
    margin-bottom: 35px;
}

.description {
    margin-bottom: 38px;
}

#info-wrapper > h2:nth-of-type(2), #info-wrapper > h2:nth-of-type(3) {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.info-data {
    margin-top: 10px;
    font-size: 18px;
    line-height: 120.2%;
}

.buttons {
    margin-bottom: 35px;
    display: flex;
}

.favorite-btn, .review-btn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

.review-btn {
    display: flex;
    align-items: center;
}

.review-btn > a {
    color: white;
}

#game-screenshots {
    width: 1020px;
    margin: auto;
}

.screenshot {
    margin-top: 24px;
    margin-right: 21px;
    object-fit: cover;
    width: 279px;
    height: 157px;
    box-sizing: border-box;
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.47);
    border-radius: 6px;
}

/* Review styling stuff */
.back-link {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    width: 155px;
    height: 99px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    top: 100px;
    left: 15px;
}

#review-page {
    min-height: 100vh;
    padding-bottom: 100px;
    background: #F1F7F8;
    color: black;
    line-height: 120.2%;
}

#review-page > div {
    padding-top: 100px;
    margin: auto;
    width: 988px;
}

#review-page > div > h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
}

.rw-page-review {
    margin-top: 48px;
    background: #FFFFFF;
    box-shadow: 9px 7px 15px rgba(0, 0, 0, 0.25);
    padding: 28px;
}

.rw-page-review-top {
    display: flex;
    justify-content: space-between;
}

.rw-page-review-top h1 {
    word-wrap: anywhere;
    max-width: 770px;
    font-weight: bold;
    font-size: 24px;
}

.review-display-buttons {
    display: flex;
    justify-content: space-between;
    width: 138px;
}

.review-delete-btn {
    width: 74px;
    height: 32px;
    background: #B60E0E;
    color: white;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    font-size: 18px;
    line-height: 120.2%;
}

.review-edit-btn {
    padding: 0 15px;
    height: 32px;
    background: #0500E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-edit-btn > a{
    color: white;
    font-size: 18px;
    line-height: 120.2%;
}

.review-author {
    margin: 18px 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}

.review-date {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
}

.review-text {
    word-wrap: anywhere;
    white-space: pre-line;
    font-size: 18px;
    margin-bottom: 30px;
}

.recommend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    font-weight: 500;
    font-size: 24px;
}

.recommend.yes {
    width: 219px;
    background: #32CDB1;
}

.recommend.no {
    width: 270px;
    background: #FF5A79;
}

.recommend span {
    margin-left: 6px;
}

.recommend span img {
    width: 22px;
}

.view-more {
    margin-top: 63px;
    margin-left: 34px;
}

.view-more > a {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.rw-page-review > .starability-result {
    margin-top: 10px;
}
/*ERROR PAGE*/
#error {
    width: 400px;
    margin: 329px auto 0;
    color: #A2A2CF;
}

#error > h1 {
    font-size: 48px;
}
#error > img {
    display: block;
    margin: 34px auto 0;
}
/* FLASH */
.flash {
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 1;
    padding: 25px;
    background: #343446;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.28);
    font-size: 24px;
    color: #A2A2CF;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}
.close {
    position: absolute;
    right: 14px;
    top: 8px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: rgb(255, 255, 255);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
/* ANIMATIONS */
#community-wrapper, #explore-wrapper {
    animation: transitionIn 0.5s;
    -webkit-animation: transitionIn 0.5s;
}

#results-row {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { 
        opacity: 0;
     }
    to { 
        opacity: 1;
    }
}

@keyframes transitionIn {
    from { 
        opacity: 0;
        margin-top: 500px;
     }
    to { 
        opacity: 1;
        margin-top: 213px;
    }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background: #1A1A2D;
    }
    .nav-menu {
        padding-bottom: 20px;
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #1a1a2dad;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-item {
        margin-left: 0;
        margin-top: 50px;
    }
    .nav-menu div {
        flex-direction: column;
    }
    .nav-menu.active {
        left: 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /*HOME SCREEN*/
    .home-wrapper * {
        font-size: 24px;
    }
    .home-wrapper {
        width: 95vw;
    }
    .welcome {
        margin-top: 35vh;
        width: 90%;
    }
    .welcome-text {
        font-size: 36px;
    }
    .welcome h2 {
        font-size: 18px;
    }
    .explore {
        width: 100%;
    }

    .home-link {
        width: auto;
    }
    /*EXPLORE*/
    #explore-wrapper {
        width: 95vw;
    }
    #explore-wrapper h1 {
        width: 100%;
        font-size: 32px;
        text-align: center;
    }
    #explore-wrapper .favoritesrow {
        align-items: center;
        flex-direction: column;
    }
    /*RESULTS*/
    #results-wrapper {
        width: 95vw;
    }
    #results-search {
        width: 80%;
        display: block;
        margin-bottom: 30px;
        padding-left: 48px;
    }
    #results-search form {
        width: 100%;
    }
    #results-search h1 {
        width: 50vw;
        padding-top: 30px;
        text-align: left;
    }
    #results-row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    /*COMMUNITY*/
    #community-wrapper {
        width: 95vw;
    }
    .community-header {
        overflow-x: scroll;
        scrollbar-width: none;
        white-space: nowrap;
        width: auto;
    }
    .recent-review {
        width: 100%;
    }
    #review-top img {
        display: none;
    }
    #name-rating {
        display: block;
        height: 100%;
    }
    #name-rating p {
        margin-bottom: 12px;
    }
    .review-time {
        position: static;
    }
    #community-wrapper .favoritesrow {
        scrollbar-width: none;
        overflow-x: scroll;
    }
    #community-wrapper .favoritesrow .game {
        margin-left: 20px;
    }
    #mostactive {
        scrollbar-width: none;
        overflow-x: scroll;
        padding-left: 20px;
    }
    .usercard {
        margin-right: 35px;
    }
    /*GAME PAGE*/
    #game-wrapper {
        overflow: hidden;
        padding-bottom: 80px;
    }
    #info-wrapper {
        margin-top: 150px;
        padding: 0;
        width: 100%;
    }
    #info-wrapper h1 {
        font-size: 36px;
        padding-top: 26px;
        margin-left: 20px;
    }
    #info-wrapper h2 {
        margin-left: 20px;
    }
    .game-rating {
        margin-left: 20px;
    }
    .game-description {
        width: 89vw;
        margin-left: 20px;
    }
    #info-wrapper > .row {
        margin-left: 20px;
        flex-wrap: wrap;
        width: 100%;
    }
    .game-info {
        margin-bottom: 20px;
    }
    #game-screenshots {
        width: auto;
    }
    #game-screenshots > .row {
        flex-direction: column;
        width: auto;
    }
    #game-screenshots > .row > a {
        margin: auto;
    }
    .buttons {
        height: 100px;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 15px 15px;
    }
    .favorite-btn, .review-btn {
        border: none;
    }
    #review-page > div {
        width: 100%;
    }
    #review-page > div > h1 {
        margin-left: 20px;
    }
    .rw-page-review {
        padding: 30px 0;
    }
    .rw-page-review > * {
        margin: 15px 20px;
    }
    .rw-page-review-top > h1, .review-text {
        line-height: 110%;
    }
    .back-link {
        top: 70px;
        width: 90px;
        height: 50px;
    }
    .back-link > img {
        width: 18px;
    }
}
