.wrapper {
    margin: auto;
    width: 922px;
    height: 998px;
}

.content {
    margin-top: 213px;
}

h1 {
    margin: auto;
    width: 604px;
    font-size: 36px;
    line-height: 120.2%;
}

form {
    margin-top: 53px;
    text-align: center;
}

input {
    width: 604px;
    height: 31px;
    border: 2px solid #474787;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 35px;
}

.search-icon {
    width: 18px;
    display: block;
    color:black;
    position: relative;
    left: 170px;
    bottom: 28px;
}