@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background: #F1F7F8;
    color: #000000;
    font-family: Lato, Roboto, sans-serif;
}

.back-link {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 155px;
    height: 99px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    top: 36px;
    left: 15px;
}

.review-wrapper {
    width: 988px;
    margin: 20px auto 0 auto;
}

.review-wrapper > h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 120.2%;
}

.review-body {
    width: 988px;
    padding-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 9px 7px 15px rgba(0, 0, 0, 0.25);
}

form {
    padding-top: 33px;
}

.title > input {
    display: block;
    width: 920px;
    height: 29px;
    border: 1px solid #A9A9A9;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
}

.row {
    padding: 10px 0;
    display: flex;
}

.starability-basic {
    margin-top: 22px;
    margin-left: 33px;
}

h2 {
    margin-left: 33px;
}

.screenshots {
    margin-left: 33px;
    display: flex;
}

.screenshots > input {
    display: none;
}

.screenshots > label {
    position: relative;
    margin-left: 10px;
    width: 135px;
    height: 76px;
}

.screenshots > label > img {
    box-sizing: border-box;
    border: 1px dashed black;
    width: 135px;
    height: 76px;
    object-fit: cover;
}

.hide {
    background: #474787;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 135px;
    height: 76px;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}
.screenshots > label:hover .hide {
    opacity: 0.6;
    visibility: visible;
}

.review-text {
    margin-left: 33px;
}

.review-text > textarea {
    resize: none;
    width: 920px;
    height: 461px;
    border: 1px solid #A9A9A9;
    box-sizing: border-box;
    border-radius: 5px;
}

.buttons {
    margin: 15px auto 0 auto;
    width: 917.5px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.form-group1 {
    display: flex;
    justify-content: space-between;
    width: 317px;
}

.form-group2 {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.submit {
    width: 184px;
    height: 51px;
    background: #50E3C2;
    box-sizing: border-box;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 120.2%;
}

.cancel {
    width: 120px;
    height: 51px;
    background: #474787;
    box-sizing: border-box;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 120.2%;
    padding: 10px;
}

.cancel > a {
    text-decoration: none;
    color: white;
}

.recommended, .recommeded-selected {
    padding: 10px;
    display: flex;
    text-align: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    display: block;
}

.recommended-selected {
    border: none;
    background: #32CDB1;
    transition: 1s;
}

.not-recommended, .not-recommended-selected {
    padding: 10px;
    display: flex;
    text-align: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    display: block;
}

.not-recommended-selected {
    border: none;
    background: #FF5A79;
    transition: 1s;
}

label {
    font-weight: 500;
    font-size: 24px;
    line-height: 120.2%;
}

input[type=radio] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    .back-link {
        top: 20px;
        width: 90px;
        height: 50px;
    }
    .back-link > img {
        width: 18px;
    }
    .review-wrapper {
        width: 95vw;
    }
    .review-body {
        width: auto;
        height: auto;
    }
    #title {
        margin: 0;
        margin-left: 20px;
        width: 80%;
    }
    .starability-basic {
        margin-left: 20px;
    }
    .review-text {
        margin-left: 20px;
    }
    #body {
        width: 94%;
    }
    .screenshots {
        flex-direction: column;
        margin-left: 15px;
    }
    .screenshots > label {
        width: 170px;
        height: 95px;
        margin: 0 auto 20px;
    }
    .screenshots > label > img {
        width: 170px;
        height: 95px;
    }
    .buttons {
        margin-left: 20px;
        width: auto;
        height: auto;
        flex-direction: column-reverse;
    }
    .form-group2 {
        width: 310px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    .recommended, .not-recommended {
        width: auto;
        padding: 5px;
        font-size: 14px;
    }
    label > span > img {
        width: 20px;
    }
}