<%- layout('/layouts/boilerplate')%>
<div class="home-wrapper">
  <div class="welcome">
    <h1 class="welcome-text">Welcome to Playable</h1>
    <h2>A place to talk about your favorite games.</h2>
    <div class="welcome-links">
      <div class="explore">
        <a class="home-link" href="/explore">Start exploring</a>
      </div>
    </div>
  </div>
</div>
